.rfloat {
  float: right; }

.dnone {
  display: none; }

body {
  font-family: 'Lato', sans-serif;
  /*header box stuff*/ }
  body #content {
    width: 1000px;
    height: 350px;
    position: relative;
    margin: auto auto; }
  body .svg-and-sidebar {
    clear: both; }
    body .svg-and-sidebar svg {
      width: 79%;
      height: 100%;
      overflow: hidden;
      float: left; }
    body .svg-and-sidebar .sidebar {
      width: 18%;
      height: 100%;
      float: left;
      position: relative;
      margin-left: 1.5em; }
      body .svg-and-sidebar .sidebar .arrow-and-text {
        margin: auto auto;
        width: 170px;
        height: 100px;
        transform: translate(0, 100%); }
        body .svg-and-sidebar .sidebar .arrow-and-text i {
          border: solid black;
          border-width: 0 1px 1px 0;
          display: inline-block;
          padding: 10px;
          float: left;
          transform: translate(0, 100%) rotate(135deg);
          -webkit-transform: translate(0, 100%) rotate(135deg);
          float: left; }
        body .svg-and-sidebar .sidebar .arrow-and-text p {
          float: left;
          width: 85%;
          margin: 0;
          line-height: 1.25em;
          font-weight: 300; }
      body .svg-and-sidebar .sidebar .call-action {
        clear: both;
        position: absolute;
        bottom: 30px;
        font-size: 0.9em;
        font-weight: bold; }
      body .svg-and-sidebar .sidebar .ab-bottom {
        position: absolute;
        bottom: 0px;
        width: 100%; }
        body .svg-and-sidebar .sidebar .ab-bottom .start-btn {
          background-color: #d6715b;
          padding: 0.6em;
          font-size: 0.8em;
          border-radius: 20px;
          color: #fff;
          text-align: center;
          width: 60%;
          margin: auto auto; }
      body .svg-and-sidebar .sidebar #side-tooltip p {
        margin: 0; }
      body .svg-and-sidebar .sidebar #side-tooltip .label-delivered {
        margin: 4px;
        font-weight: 500; }
      body .svg-and-sidebar .sidebar #side-tooltip .legend-circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        float: right;
        transform: translate(0, 7px);
        margin-left: 4px; }
      body .svg-and-sidebar .sidebar #side-tooltip #award-val {
        font-weight: 900;
        font-size: 2.4em;
        margin-top: 5px;
        margin-bottom: 5px; }
      body .svg-and-sidebar .sidebar #side-tooltip table {
        font-size: 0.7em;
        width: 100%; }
        body .svg-and-sidebar .sidebar #side-tooltip table tr {
          line-height: 2em; }
          body .svg-and-sidebar .sidebar #side-tooltip table tr td:nth-child(1) {
            color: #a0a0a0;
            font-weight: 800; }
          body .svg-and-sidebar .sidebar #side-tooltip table tr td:nth-child(2) {
            text-align: right;
            font-weight: 700; }
      body .svg-and-sidebar .sidebar #side-tooltip .tool-label {
        font-size: 0.8em;
        font-weight: 600;
        color: #a0a0a0;
        margin-top: 3em;
        margin-bottom: 0.3em; }
      body .svg-and-sidebar .sidebar #side-tooltip #project-name {
        font-size: 0.8em;
        font-weight: 700;
        margin-bottom: 1.2em; }
      body .svg-and-sidebar .sidebar #side-tooltip #platform-val {
        text-align: right;
        font-weight: 300; }
    body .svg-and-sidebar .K12 {
      fill: #27574d;
      background-color: #27574d; }
    body .svg-and-sidebar .Healthcare {
      fill: #d6715b;
      background-color: #d6715b; }
    body .svg-and-sidebar .Higher {
      fill: #86c6b0;
      background-color: #86c6b0; }
    body .svg-and-sidebar .NGO {
      fill: #90aeb0;
      background-color: #90aeb0; }
    body .svg-and-sidebar .xaxis-labels {
      color: #000;
      fill: #000;
      font-size: 11px;
      text-anchor: middle;
      fill: #a0a0a0; }
    body .svg-and-sidebar .value-labels {
      color: #000;
      fill: #000;
      font-size: 15px;
      text-anchor: middle;
      font-weight: 300; }
  body .button-container {
    color: #000;
    clear: both; }
    body .button-container .button-animationtoggle {
      float: left;
      color: #a0a0a0;
      cursor: pointer;
      margin-right: 1.6em;
      margin-top: 1.4em;
      font-size: 0.8em;
      font-weight: 600; }
    body .button-container .highlight {
      color: #d6715b;
      transition: color 1s; }
  body .header-box {
    font-weight: 700; }
    body .header-box h2 {
      font-size: 1.4em;
      margin-bottom: 1; }
    body .header-box p {
      margin: 0; }
    body .header-box .header-text {
      float: left; }
  body .img-badge {
    width: 85px;
    height: 85px;
    float: left; }
  body #total_awarded {
    color: #d6715b; }
